
// Common - Layout
//------------------------------------------------------------------------------

/* Container */
.container {
  position: relative;
  max-width: $container-width + 2 * $container-padding;
  padding: 0 $container-padding;
  margin: 0 auto;
}

/* Header */
.header {

}

.site-name {
  width: 200px;
  height: 50px;

  span {
    background: url(../img/common/logo.png) no-repeat;
  }
}


/* Navigation */
.navigation {

  li {

  }

  a {

  }
}

/* Content */
.content {
  width:66.66%;
  float:left;
  @media screen and (max-width: $screen-sm) {
    width:auto;
    float: none
  }
}

/* Sidebar */
.sidebar {
  float:right;
  width:31.25%;
  @media screen and (max-width: $screen-sm) {
    display:none;
  }
}

/* Footer */
.footer {
  clear: both;
}
