/* =========================================================================

    Project: Test Project
    Author: XHTMLized
    Last updated: @@timestamp
@@toc

   ========================================================================= */

// Vendor Dependencies
@import "normalize.css/normalize";
@import "vendor/colorbox";
// Authored Dependencies
@import "setup/variables";
@import "setup/mixins";
@import "setup/sprites";
// Common styles & layouts
@import "common/base";
@import "common/utilities";
@import "common/layout";

// Components
@import "components/sidebar";
@import "components/article-column";
body {
  background: #eae2d7;
}

.holder {
  @extend %clearfix;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}
